<div class="header-shell">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <div class="brand-block" routerLink="/">
        <div class="brand-mark">SB</div>
        <div class="brand-copy">
          <h1 class="logo">SecureBank</h1>
          <span>Smart banking for everyday confidence</span>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="end">
      <div class="header-actions">
        <p-button
          label="Login"
          icon="pi pi-sign-in"
          routerLink="/login"
          routerLinkActive="active"
          styleClass="p-button-outlined nav-cta nav-ghost">
        </p-button>
        <p-button
          label="Open Account"
          icon="pi pi-user-plus"
          routerLink="/openAccount"
          routerLinkActive="active"
          styleClass="nav-cta nav-primary">
        </p-button>
      </div>
    </ng-template>
  </p-menubar>
</div>
