@import "../../../shared/styles/account-layout-shared.css";
@import "../../../shared/styles/management-panel-shared.css";

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .p-dropdown-panel {
  max-height: 200px !important;
  overflow-y: auto !important;
}

:host ::ng-deep .p-dropdown-items-wrapper {
  max-height: 200px !important;
  overflow-y: auto !important;
}

.form-field label {
  font-weight: 550;
  color: #2d3748;
  font-size: 0.95rem;
  padding-top: 0.7rem;
}

.text-center {
  text-align: center;
}

.highlight-row {
  background-color: #f9fafb;
}
